*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:#565656e3;
    
    padding: 30px;
    text-align: center;
}

.foto img{
    height: 290px;
    width: auto;
    border-radius: 190px;
    border: 1px solid #f3c5c5;
}

h1{
    color: #f3c5c5;
    margin-top: 7px;
}

h3{
    margin-top: 5px;
    color: aliceblue;

}

p, li{
    color: aliceblue;
}

ul{
    list-style-type: circle;
    max-width: 200px;
    margin: 0 auto;
    justify-content: center;
}

.projetos{
    max-width: 900px;
    margin: 0 auto;
}